<!doctype html>
<html>
<head>
    <title>Abhi - Pakistan's Premier Online Food Delivery Service</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Abhi</h1>
        <p><em>Kabhi nahi... Abhi</em></p>
        <h2>Pakistan's Premier Online Food Delivery Service.</h2>
        <a href="/login" class="btn btn-primary"> Log in</a>
        <a href="/signup" class="btn btn-primary"> Sign up</a>
    </div>

</div>
</body>
</html>