<!doctype html>
<html>
<% include ./partials/head%>
<body ng-app="abhiApp">
<div class="container" ng-controller="loginCtrl as login">

    <div class="col-sm-6 col-sm-offset-3">

        <h1>Signup</h1>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>


        <form name="signupForm" action="/signup" method="post" novalidate>
            <div class="form-group">
                <label>
                    Email Address
                </label>
                <input type="email" name="email" ng-model="login.signupEmail" value="signupEmail"
                       required>
                <div ng-show="signupForm.$submitted">
                    <span ng-show="signupForm.email.$error.required">Need an email address.</span>
                    <span ng-show="signupForm.email.$error.email">This is not a valid email address.</span>
                </div>
            </div>
            <div>
                <label>
                    Password
                </label>
                <input type="password" name="password" ng-model="login.signupPassword" value="signupPassword" required>
                <div ng-show="signupForm.$submitted">
                    <span ng-show="signupForm.password.$error.required">Need a password.</span>
                </div>
            </div>
            <button type="submit" ng-disabled="signupForm.$invalid" class=" user-submit btn btn-primary btn-lg">Sign Up</button>
        </form>

        <hr>

        <p>Already have an account? <a href="/login">Login</a></p>
        <p>Or go <a href="/">Home</a>.</p>

    </div>

</div>
<% include ./partials/layout%>
</body>
</html>
